{# @var loadedValue \DualMedia\EsLogBundle\Model\LoadedValue #}

{% set value = loadedValue.value.value %}
<h6>
    Value: {% if value is iterable %} {{ value|join(', ') }} {% else %} {{ value }} {% endif %}
</h6>
<div>
    Type: {{ loadedValue.value.type }}
</div>
