{# @var value \DualMedia\EsLogBundle\Model\LoadedValue #}

{% set value = value.value.value %}
<h6>
    Value: {% if value is iterable %} {{ value|join(', ') }} {% else %} {{ value }} {% endif %}
</h6>
<div>
    Type: {{ value.value.type }}
</div>
